body {
    background-color: AliceBlue;
    margin: 0px;
  }
  
.photos-container{
    padding: 5%;
}

.pitem{
    margin-bottom: 50px;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 50px 50px 0px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* 
.photo-item{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:50px;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 5px;
    width: 18rem;
} */